:root {
    --color-red-transparent: #850a0ea2;
    --color-green-transparent: #1c562ca2;
    --color-red: #850A0F;
    --color-beige: #D8D1C3;
    --color-green: #1C562C;
    --color-black: #161615;

    --font-text: "bodoni moda";
    --font-title: "italiana";
}

body {
    font-family: var(--font-text);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--font-title);
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    color: var(--color-beige);
    background-color: var(--color-red);
}