:root {
    --color-red-transparent: #850a0ea2;
    --color-green-transparent: #1c562ca2;
    --color-red: #850A0F;
    --color-beige: #D8D1C3;
    --color-green: #1C562C;
    --color-black: #161615;

    --font-text: bodoni moda;
    --font-text-italic: bodoni moda italic;
    --font-text-9pt: bodoni moda pt;
    --font-title: italiana;
}

body {
    margin: 0;
    font-family: var(--font-text);
    font-size: 16px;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    background-color: white;
}

.header__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 10px 80px;
    background-color: white;
    z-index: 5;
}

.logo__cont {
    margin-right: 20px;
    width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: 500;
    margin: unset;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

.header-right-cont {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.rs__cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.navbar-link-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.navbar__link {
    padding: 10px;
    text-decoration: none;
    color: var(--color-black);
    transition: 0.3s;
}

.navbar__link:hover {
    background-color: var(--color-red);
    color: var(--color-beige);
}

.navbar__link.basket:hover {
    background-color: unset;
}

.navbar-mobile,
#btn-toggle-navbar-mobile {
    display: none;
}

.btn {
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: var(--color-beige);
    text-decoration: none;
    background-color: var(--color-red);
    transition: 0.3s
}

.btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon {
    width: 25px;
}

.banner__cont {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 165px;
    width: 100%;
    max-height: 375px;
    overflow: hidden;
}

.banner__cont img {
    width: 100%;
}

.banner-text__cont {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 100px;
    padding-right: 60px;
    width: 650px;
    height: 265px;
    color: var(--color-beige);
    background-color: var(--color-red-transparent);
}

h1 {
    font-size: 65px;
}

.banner__cont h2 {
    font-size: 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.footer .rs__cont img {
    width: 30px;
}

.footer a {
    text-decoration: none;
    color: var(--color-black);
    transition: 0.1s;
}

.footer a:hover {
    font-weight: 600;
}

.footer br {
    display: none;
}

/* ===== Media querries ===== */

@media all and (max-width: 991.98px) {
    header {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    .navbar,
    .header-right-cont .rs__cont {
        display: none;
    }

    #btn-toggle-navbar-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding: 9px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: white;
    }

    .navbar-mobile {
        position: absolute;
        top: -500px;
        left: 0;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        width: 100%;
        background-color: white;
        z-index: 1;
        transition: 0.7s;
    }

    .navbar-mobile.active {
        top: 100%;
    }

    .navbar-mobile-link-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid var(--color-black);
    }

    .navbar-mobile-link-list li {
        width: 60%;
        border-bottom: 1px solid var(--color-black);
        text-align: center;
    }

    .navbar-mobile-link-list li:last-child {
        border-bottom: unset;
    }

    .navbar-mobile-link-list a {
        display: block;
        padding: 20px 0;
        width: 100%;
        text-decoration: none;
        color: var(--color-black);
    }

    #btn-toggle-navbar-mobile:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.156);
    }

    .logo__cont {
        width: 250px;
    }

    .banner-text__cont {
        padding-left: 70px;
        padding-right: 50px;
        width: 440px;
        height: 200px;
    }

    h1 {
        font-size: 45px;
    }

    .banner-text__cont h2 {
        font-size: 20px;
    }

}

@media all and (max-width: 767.98px) {
    .header__content {
        padding: 30px 50px 10px 50px;
    }

    #btn-toggle-navbar-mobile {
        width: 45px;
        height: 45px;
    }

    .banner__cont {
        padding: unset;
        overflow: unset;
        max-height: unset;
        margin-bottom: 80px;
    }

    .banner-text__cont {
        top: unset;
        bottom: 0;
        left: 50%;
        padding-left: 20px;
        padding-right: 20px;
        width: 400px;
        height: 160px;
        transform: translate(-50%, 50%);
    }

    h1 {
        font-size: 30px;
    }

    .banner-text__cont h2 {
        font-size: 18px;
    }

    .footer {
        padding: 20px 40px;
    }
}

@media all and (max-width: 575.98px) {
    .header__content {
        padding: 30px 20px 10px 20px;
    }

    .banner-text__cont {
        width: 70%;
        height: 130px;
    }

    h1 {
        font-size: 26px;
    }

    .banner-text__cont h2 {
        font-size: 16px;
    }

    .footer br {
        display: block;
    }
}


/* ===== Déclaration des fonts ===== */

@font-face {
    font-family: bodoni moda;
    src: url(../assets/font/BodoniModa-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: bodoni moda italic;
    src: url(../assets/font/BodoniModa-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: bodoni moda pt;
    src: url(../assets/font/BodoniModa_9pt-Black.ttf);
}

@font-face {
    font-family: italiana;
    src: url(../assets/font/Italiana-Regular.ttf);
}